    <footer>
      <h5>Contact: <a href="mailto:abdurrahmaan.shaikh@ontariotechu.net">abdurrahmaan.shaikh@ontariotechu.net</a></h5>
      <h5>&copy; 2025 Abdurrahmaan Shaikh. All rights reserved.</h5>
      <a href="/projects">Project Page</a> |
      <a href="/contact">Feedback Form</a> |
      <a href="/about">Video</a>
      <div>
        <a href="https://github.com/abdurrahmaanshaikh-tech" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/abdurrahmaan-shaikh-139325248/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </div>
</body>
</html>
