<%- include('partials/header') %>

        <header>
            <h1>A little About Me!</h1>
            <p>Just Some Fun Facts About Me!</p>
        </header>

        <!-- This Contains the Video -->
        <div class="vid">
            <video
                id="video" 
                width="320"
                height="240"
                controls 
                poster="/images/skiing.png"
                preload="auto">
                <source src="/Videos/Abdur.mp4" type="video/mp4">
            </video>
        </div>

<%- include('partials/footer') %>
