 <%- include('Partials/header') %>

<div id="banner">
  <h1>My Name Is Abdurrahmaan Shaikh, I am Studying Networking and IT Security.</h1>
</div>

<div id="right-column">
  <h2>About Me</h2>
  <p>My name is Abdurrahmaan Shaikh, I am 20 years old, I am in my second year of the Networking and IT Security Program at Ontario Tech University. I was born in Toronto, Canada, and have lived here my whole life...</p>

  <h2>My Goals</h2>
  <p>My goal is to become a cybersecurity analyst or a penetration tester...</p>

  <h2>Fun Facts About Me!</h2>
  <div class="box"><p>I love to Ice Skate and Play Volleyball!</p></div>
  <div class="box"><p>I love to Travel — recently I’ve been to Qatar and Saudi!</p></div>
  <div class="box"><p>I aspire to be a White Hat hacker, helping companies for the better good.</p></div>
  <div class="box"><p>Outside of school I like to game — I play Rocket League, Call of Duty, and Minecraft.</p></div>
</div>

<%- include('Partials/footer') %>

